<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Noticias</title>
    
</head>
<body>
    
    <header>
        
            <h1> Importadora JMS </h1>
            <img src="{{ url_for('static', filename='img/Empresajms.png') }}" alt="Importadora"width="200" height="200"></a>
            
        
    <h1>Noticias</h1>
    <nav>
        <ul>
        <li><a href="/">inicio</a></li>
        <li><a href="/Quienes_Somos">Quienes_Somos</a></li>
        <li><a href="/Servicios">Servicios</a></li>
        <li><a href="/Noticias">Noticias</a></li>
        <li><a href="/Contactos">Contactos</a></li>
        </ul>
    </nav>

</header>
<section>
    <h3>Novedad</h3>
    <img src="{{ url_for('static', filename='img/producto4.jpg') }}" alt="producto4"width="350" height="350">
    <p>llegaron los audifonos gamer con sonido envolvente 7.1</p>
</section>

<section>
    <h3>Promocion</h3>
    <img src="{{ url_for('static', filename='img/producto5.jpg') }}" alt="producto5"width="350" height="350">
    <p>Gran Promocion..!!  de las sillas Gamer con Hasta un 40% de descuento</p>
</section>
<footer>
    <p>Síguenos: </p>
    
        <a href="https://github.com" > <img src="{{ url_for('static', filename='img/github1.png') }}" alt="github1"width="50" height="50"></a>
        <a href="https://www.facebook.com/">  <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="facebook"width="50" height="50"></a>
        <a href="https://x.com/?lang=es"><img src="{{ url_for('static', filename='img/x.png') }}" alt="x"width="50" height="50"></a>
    
</footer>
    
</body>
</html>